[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }
    /* ... */
    .col-s-12 {
        width: 100%;
    }
}