#jack {
    padding: 0 0 400px 0;
    background-image:  url("../images/jack-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#jack .container {
    flex-direction: column;
    gap: 50px;
    text-align: center;
    position: relative;
}

#jack .content-wrapper{
    margin-top: 40%;
}

#jack h3 {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

#jack::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff7e58;
    mix-blend-mode: multiply;
}